<header class="pokedex-nav-container">
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container-fluid">

            <a class="navbar-brand poke-logo" routerLink="/pokedex">
                <i class="bi bi-penta-fill"></i> <span>Poke</span>APi - F&F
            </a>

            <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">

                        <a class="nav-link" routerLink="/favoritos" routerLinkActive="active">
                            <i class="bi bi-house"></i> Favoritos
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="isProfesor">
                        <a class="nav-link" routerLink="/usuarios" routerLinkActive="active">
                            <i class="bi bi-gear"></i> Usuarios
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/perfil', idUsuarioLogueado]">
                            <i class="bi bi-person-circle"></i> Mi Perfil
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/ranking']">
                            <i class="bi bi-trophy"></i> Ranking
                        </a>
                    </li>
                    
                </ul>

                <div class="d-flex align-items-center gap-3">

                    <div class="user-badge">
                        <i class="bi bi-person-badge"></i>
                        <span class="ms-2">Entrenador: <strong>{{ username }}</strong></span>
                    </div>

                    <button type="button" (click)="onLogout()" class="btn-logout-poke">
                        <i class="bi bi-power"></i>
                    </button>
                </div>
            </div>
        </div>
    </nav>
</header>

<main class="main-content">
    <div class="pokemon-bg"></div>
    <div class="container mt-4">
        <router-outlet></router-outlet>
    </div>
</main>

<footer class="poke-footer text-center">
    <div class="footer-line"></div>
    <div class="container">
        <p>© 2026 POKÉDEX <strong>F&F</strong> — SISTEMA DE GESTIÓN DE ENTRENADORES</p>
    </div>
</footer>