@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@800&display=swap');

.pokedex-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  font-family: 'Exo 2', sans-serif;
}

/* MISMO FONDO */
.pokemon-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/fondo.jpg');
  background-size: cover;
  background-position: center;
  z-index: -1;
}

/* PANEL PRINCIPAL */
.pokedex-panel {
  background: linear-gradient(145deg, rgba(235, 10, 10, 0.95), rgba(120, 0, 0, 0.95));
  margin: 40px;
  padding: 30px;
  border-radius: 40px;
  border: 7px solid #222;
  box-shadow: 0 20px 60px rgba(0,0,0,0.8);
}

/* HEADER */
.pokedex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.title {
  color: #FFCB05;
  font-size: 2.5rem;
}

/* BUSCADOR */
.search-input {
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  outline: none;
  font-weight: bold;
  width: 250px;
}

/* GRID */
.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
}

/* TARJETA */
.pokemon-card {
  perspective: 1000px;
}

.card-inner {
  background: linear-gradient(145deg, #fff, #ddd);
  border-radius: 20px;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

.card-inner:hover {
  transform: scale(1.08) rotateZ(1deg);
}

/* IMAGEN */
.pokemon-img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin-bottom: 10px;
  transition: transform 0.3s;
}

.card-inner:hover .pokemon-img {
  transform: scale(1.2);
}

/* INFO */
.pokemon-id {
  background: #222;
  color: #FFCB05;
  padding: 3px 10px;
  border-radius: 10px;
  font-size: 0.8rem;
}

.pokemon-name {
  margin-top: 5px;
  text-transform: capitalize;
  font-size: 1.2rem;
}

/* ANIMACIÓN ENTRADA */
.animate-in {
  animation: slide-up-bounce 0.6s ease;
}

@keyframes slide-up-bounce {
  0% { transform: translateY(100px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}