<div class="overlay-container">
  <div class="pokemon-bg-login"></div>

  <div class="loader-card shadow-lg p-5 animate-in">
    
    <div class="login-image-container mb-4">
      <img src="../../../assets/logo.png" class="img-fluid rounded-4 border-pokemon" alt="Login Adventure">
    </div>

    <h2 class="text-pokemon-yellow mb-4">¡ENTRENADOR LOGIN!</h2>

    <div class="alert alert-pokemon-danger" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>

    <form (ngSubmit)="onLogin()" #loginForm="ngForm">
      <div class="mb-4 text-start">
        <label class="text-white fw-bold mb-2">USUARIO DEL ENTRENADOR</label>
        <input
          type="text"
          class="form-control custom-input"
          name="username"
          [(ngModel)]="username"
          placeholder="Ingresa tu usuario"
          required
        />
      </div>

      <div class="mb-4 text-start">
        <label class="text-white fw-bold mb-2">CONTRASEÑA</label>
        <input
          type="password"
          class="form-control custom-input"
          name="password"
          [(ngModel)]="password"
          placeholder="••••••••"
          required
        />
      </div>

      <button class="btn btn-pokemon-action w-100" type="submit">
        ¡POKÉLOGIN!
      </button>
    </form>

    <div class="hint-text mt-4">
      <p class="text-light italic">"Hazte con todos en tu colección..."</p>
    </div>
  </div>
</div>